#contact {
	background-image: url(https://personal-portfolio-2020.s3.amazonaws.com/abstract-contact.jpg);
	background-size: cover;
	background-position: center;
	color: $white;
	position: relative;
	width: 100vw;
	height: 75vh;
	z-index: 1;
	display: flex;
	align-items: center;

	@include respond(tab-land) {
		padding: 10rem 0;
		clip-path: none;
		margin-top: 0;
		-webkit-clip-path: none;
	}

	.filter-contact {
		z-index: -1;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.6);
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	.container {
		z-index: 3;
	}

	.contact-flex-cont {
		display: flex;
		flex-direction: column;
		align-content: center !important;
	}

	.contact-wrapper {
		padding: 0 2rem;
		backface-visibility: hidden;

		&__text {
			margin-bottom: 5.5rem;
			font-family: Fontania, 'sans-serif';
			font-size: 4.5rem;

			@include respond(phone) {
				font-size: 5.5rem;
			}
		}
	}
}
