header {
	position: relative;
	height: 100vh;
	overflow: hidden;
	z-index: 3;

	#video-wrapper {
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: -4;
			transform: translate(-50%, -50%);
		}
	}
}

#filter {
	position: relative;
	height: 100%;
	width: 100%;
}

#hero {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	font-weight: 400;
	color: $white;
	border-bottom: 0px;
	margin-bottom: 0;
	min-height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// z-index: -1;
	padding: 0rem $small-font-size;

	// What is this for?
	.container > * {
		margin: 1rem 0;
		padding: 1rem 0;
	}

	.hero-title {
		font-size: $big-font-size;
		font-weight: 100;
		margin-bottom: 0;
		margin-top: 12rem;

		text-align: left;

		span {
			color: $primary;
		}
	}

	#sub-hero-title {
		text-align: left;
		font-size: $mid-font-size;
		margin-top: 2rem;

		@include respond(tab-port) {
			font-size: 2.3rem;
			text-align: center;
		}
		@include respond(phone) {
			font-size: 2remrem;
			line-height: 2rem;
		}
	}

	.hero-cta {
		margin-top: 9rem;
		display: flex;
		justify-content: center;

		@include respond(tab-port) {
			justify-content: center;
		}

		// & a {
		// 	font-size: 1.6rem;

		// 	@include respond(phone) {
		// 		font-size: 2rem;
		// 	}
		// }
	}
}
