#filter {
	// background: url(../assets/img1.jpg);
	background: url(../assets/abstract1.png);
	background-position-x: center;
	background-size: cover;
	background-color: rgb(0, 0, 0);
}

#hero {
	background-color: rgba(0, 0, 0, 0.65);
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 0px;
	font-weight: 400;
	color: $white-color;
	padding: 0rem 5.6rem;
	margin-bottom: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;

	@include respond(phone) {
		padding: 0rem $default-font-size;
	}

	.hero-title {
		font-size: 5.6rem;
		font-weight: 100;
		margin-bottom: 2rem;
		text-align: left;

		@include respond(tab-land) {
			// font-size: 4rem;
		}
		@include respond(tab-port) {
			font-size: 4.3rem;
			text-align: center;
		}
		@include respond(phone) {
			font-size: 3.5rem;
			line-height: 2rem;
		}
		@include respond(phone-xs) {
			font-size: 1.5rem;
		}
	}

	#typewriter-1 {
		font-weight: 500;
		font-size: 3rem;

		text-align: left;

		@include respond(tab-land) {
		}
		@include respond(tab-port) {
			font-size: 2.5rem;
			text-align: center;
		}
		@include respond(phone) {
			font-weight: 400;
			font-size: 2rem;
		}
		@include respond(phone-xs) {
			font-size: 1.5rem;
		}
	}

	.hero-cta {
		margin-top: 3rem;
		display: flex;

		@include respond(tab-port) {
			justify-content: center;
		}

		& a {
			font-size: 2.4rem;

			@include respond(phone) {
				font-size: 2rem;
			}
		}
	}
}
