// COLORS
$primary-color: #050218;
$secondary-color: #11045a;
$third-color: #d3913a;

$black-color: #000;
$dark-blue-text: #000000; // For Headings
$white-color: #fff;
$dark: #070707;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
