// COLORS
$primary-color: #01606e;
$secondary-color: #012527;

// $primary-color: #1b0d88;
// $secondary-color: #331ddb;

$white-color: #fff;

$dark: #070707;

$light: #ffffff;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
