// COLORS
$primary: #ffbf3e;

$black: #000;
// $dark-blue-text: #000000; // For Headings
$white: #fff;
$off-white: #f0f0f0;
$dark: #070707;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 3.8rem;
$mid-font-size: 2.5rem;
$small-font-size: 2rem;
