// Section
section {
	border: none;
	padding: 3rem $small-font-size 4rem $small-font-size;

	@include respond(sm) {
		border: none;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	background-color: #f0f0f0;
}

// .black-box {
// 	height: 8vh;
// 	width: 100%;
// 	background-color: black;
// }
