*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	box-sizing: border-box;
}

.container {
	padding: 0;
}
